<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>WeatherApp</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css" integrity="sha384-GJzZqFGwb1QTTN6wy59ffF1BuGJpLSa9DkKMp0DgiMDm4iYMj70gZWKYbI706tWS" crossorigin="anonymous">
</head>
<body>


<span th:if="${weather != null}" th:text="${weather.getMain().getTemp()}"></span>
<span th:if="${weather != null}" th:text="${weather.getMain().getPressure()}"></span>
<span th:if="${weather != null}" th:text="${weather.getClouds().getClouds()}"></span>

<form th:action="@{/}" method="post">
    <input name="cityName" type="text" placeholder="Podaj miasto...">
    <button type="submit" value="Wyślij"></button>
</form>
</body>
</html>